{% extends 'base.html.twig' %}

{% block title %}Edit RepasMenu{% endblock %}

{% block body %}
    <h1>Edit RepasMenu</h1>

    {{ include('gestion_menu/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gestion_menu_index') }}">back to list</a>

    {{ include('gestion_menu/_delete_form.html.twig') }}
{% endblock %}
