{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}

<div class="container">
   <div class="example-wrapper">
        <h1>Choisir sa section</h1>

        {% for section in section %}
            <li>
                <a href="{{ path('app_user_user', {id : section.id}) }}">{{ section.nom }}</a>
            </li>
        {% endfor %}
</div>
</div>

{% endblock %}
