{% extends 'base.html.twig' %}

{% block title %}Accueil Reservation{% endblock %}

{% block body %}

<header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <span class="navbar-brand">
       <!-- <img src="#" alt="Logo" width="30" height="30" class="d-inline-block align-top"> -->
        Reservation Repas
    </span>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_user_section')}}">Accès Utilisateur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_gestion_menu_index')}}">Accès Administrateur</a>                
            </li>
            <li class="nav-item dropdown">
            <li class="nav-item">
                <a class="nav-link" href="">Informations</a>
            </li>
            
        </ul>
    </div>
</nav>
</header>

<div class="container ctnAcceuil">
   <div class="example-wrapper">
        <h1>Bienvenue</h1>
</div>
</div>

{% endblock %}
